html, body {
    height: 100%;
}

body {
    font-family: "Segoe UI", sans-serif;
}

/* Dropdown Status Button */
.status-btn {
    width: 120px;
    border-radius: 20px;
    font-weight: bold;
    color: white;
}

.status-btn.Online {
    background-color: #28a745;
}

.status-btn.Offline {
    background-color: #dc3545;
}

/* Card Hover Animation */
.card {
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

/* Dropdown menu center */
.dropdown-menu {
    text-align: center;
}

/* Footer stay bottom */
.footer {
    margin-top: auto;
}
